.space-button {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  cursor: pointer;
  border-radius: 2rem;
  height: 52px;
  //overflow-x: hidden;
  //border: 1px solid rgba(0, 0, 0, 0.1);
  &::before {
    z-index: -1;
    position: absolute;
    right: 20px;
    top: calc(50% - 26);
    //top: 55px;
    content: '';
    height: 52px;
    width: 52px;
    background: $primary-color;
    opacity: 0.6;
    border-radius: 2rem;
    transition: all 0.3s ease;
  }
  fa-icon {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  &:hover,
  &:focus {
    &::before {
      width: 100%;
      height: 100%;
      right: 0;
    }
  }
}

.space-link {
  color: $primary-color;
  border-bottom: 1px solid white;

  &--icon {
    color: black;
    font-size: 1.5rem;
    line-height: 1.5rem;
    border-bottom: none;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid $primary-color;
    &.space-link--icon {
      color: $primary-color;
      border-bottom: none;
    }
  }
}
