.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  &__date {
    @include horizontal-info-with-divider();
  }
  &__social {
    display: flex;
    & > a {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
