<space-section>
  <div class="container container--column">
    <h2 class="container__title">Latest posts</h2>

    <div class="post-list">
      <ng-container *ngFor="let blog of blogs$ | async; trackBy: trackByFn">
        <div class="post">
          <div class="post__info">
            <a [routerLink]="[blog.route]">
              <h3 class="post__title">{{ blog.title }}</h3>
              <p class="post__description">{{ blog.description }}</p>
            </a>
            <div class="post__time">
              <span>{{ blog.date | date }}</span>
              <span>{{ blog.readingTime | number: '1.0-0' }} min read</span>
            </div>
          </div>
          <div class="post__cover">
            <a [routerLink]="[blog.route]">
              <img src="https://picsum.photos/400/300" />
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</space-section>
