.container {
  display: flex;
  padding: 0 1.5rem;
  flex: 1 0 auto;
  @media (min-width: $desktop-break) {
    max-width: $grid-break;
    margin: 0 auto;
  }
  &--column {
    flex-direction: column;
  }
  &__title {
    letter-spacing: 2px;
    margin-bottom: 2rem;
  }
}

.form-field {
  display: flex;
  position: relative;
  margin: 0 0 2rem;
  width: 100%;
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--half {
    @media (min-width: $desktop-break) {
      width: 50%;
    }
  }
  &--scroll-horizontal {
    overflow-x: auto;
    overflow-y: hidden;
  }
  &--scroll-vertical {
    overflow-x: hidden;
    overflow-y: auto;
  }
}
