.container {
  display: flex;
  padding: 0 1.5rem;
  flex: 1 0 auto;
  @media (min-width: $desktop-break) {
    max-width: $grid-break;
    margin: 0 auto;
  }
  &--column {
    flex-direction: column;
  }
  &__title {
    font-family: $decoration-font;
    margin-bottom: 3rem;
  }
}
