@mixin line-clamp($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin horizontal-info-with-divider() {
  color: $secondary-text-color;
  font-size: 0.8rem;
  span,
  a {
    &::after {
      content: '•';
      margin: 0 0.5rem;
    }

    &:last-child::after {
      display: none;
    }
  }
}

@mixin reset-form-field() {
  background: none;
  border: none;
  appearance: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}
