$main-font: 'Hind', sans-serif;

$primary-color: rgb(134, 161, 255);
$secondary-color: yellow;

$primary-text-color: black;
$secondary-text-color: rgba(0, 0, 0, 0.6);

$desktop-break: 992px;
$mobile-break: 991px;
$grid-break: 800px;
