$main-font: 'Roboto', sans-serif;
$secondary-font: 'DM Serif Display', serif;

$primary-color: #595fff;
$secondary-color: yellow;

$primary-text-color: black;
$secondary-text-color: rgba(0, 0, 0, 0.6);

$desktop-break: 992px;
$mobile-break: 991px;
$grid-break: 800px;
