<space-section>
  <div class="container container--column" *ngIf="data$ | async as data">
    <div style="display: flex; margin-bottom: 1rem">
      <a class="space-link" routerLink="/blog"><fa-icon [icon]="icons.faLongArrowAltLeft"></fa-icon> Back to list</a>
    </div>
    <h2 class="container__title">{{ data.title }}</h2>

    <div class="post-header">
      <div class="post-header__date">
        <span>{{ data.date | date | date }}</span>
        <span>{{ data.time }}</span>
      </div>

      <div class="post-header__social">
        <a class="space-link space-link--icon" [href]="twitterLink" target="_blank"
          ><fa-icon [icon]="icons.faTwitter"></fa-icon>
        </a>
        <a class="space-link space-link--icon" [href]="linkedinLink" target="_blank"
          ><fa-icon [icon]="icons.faLinkedin"></fa-icon
        ></a>
        <a class="space-link space-link--icon" [href]="facebookLink" target="_blank"
          ><fa-icon [icon]="icons.faFacebook"></fa-icon
        ></a>
      </div>
    </div>

    <scully-content></scully-content>
  </div>
</space-section>

<space-section>
  <div class="container" id="commentsContainer"></div>
</space-section>
