<div class="footer">
  <div class="container">
    <a class="space-link space-link--icon" href="https://github.com/ravciok" target="_blank" rel="noreferrer"
      ><fa-icon [icon]="icons.faGithub"></fa-icon
    ></a>
    <a class="space-link space-link--icon" href="https://twitter.com/ravciok" target="_blank" rel="noreferrer"
      ><fa-icon [icon]="icons.faTwitter"></fa-icon
    ></a>
    <a class="space-link space-link--icon" href="https://www.linkedin.com/in/ravciok/" target="_blank" rel="noreferrer"
      ><fa-icon [icon]="icons.faLinkedin"></fa-icon
    ></a>
  </div>
</div>
