@import 'src/styles/core/variables';

@mixin reset-form-field() {
  background: none;
  border: none;
  appearance: none;
  outline: none;
}

.form-field {
  display: flex;
  position: relative;
  margin: 2rem 0;
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--half {
    width: 50%;
  }
}

input,
textarea {
  @include reset-form-field();
  min-width: 100%;
  //min-height: 120px;
  //max-height: 300px;
  padding: 1.5rem 0 0.3rem;
  border-bottom: 1px solid black;
  & ~ label {
    cursor: text;
    position: absolute;
    left: 0;
    top: 1.5rem;
    transition: all 0.2s ease;
  }
  &:focus,
  &:not(:placeholder-shown) {
    & ~ label {
      top: 0;
      font-size: 0.8rem;
    }
  }
  &:focus {
    border-color: $primary-color;
    & ~ label {
      color: $primary-color;
    }
  }
  &::placeholder {
    color: white;
  }
}

button {
  @include reset-form-field();
  padding: 1rem 2rem;
  position: relative;
  cursor: pointer;
  &::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 50px;
    width: 50px;
    background: $primary-color;
    opacity: 0.6;
    border-radius: 2rem;
    transition: all 0.3s ease;
  }
  &:hover,
  &:focus {
    &::before {
      width: 100%;
    }
  }
}
