<space-section>
  <div class="container container--column">
    <h2 class="container__title">Contact</h2>

    <div class="">
      <form name="contact" method="POST" action="/contact/success" data-netlify="true" data-netlify-recaptcha="true">
        <div class="form-field form-field--half">
          <input class="space-input" id="name" type="text" name="name" placeholder="Name" required />
          <label for="name">Name</label>
        </div>

        <div class="form-field form-field--half">
          <input class="space-input" id="email" type="email" name="email" placeholder="Email" required />
          <label for="email">Email</label>
        </div>

        <div class="form-field">
          <textarea
            class="space-textarea"
            id="message"
            name="message"
            placeholder="Message"
            rows="5"
            required
          ></textarea>
          <label for="message">Message</label>
        </div>

        <div class="form-field" data-netlify-recaptcha="true"></div>

        <div class="form-field form-field--end">
          <button class="space-button" type="submit">
            Send message <fa-icon [icon]="icons.faLongArrowAltRight"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</space-section>
