<div class="header">
  <div class="container">
    <a routerLink="/" routerLinkActive="logo--active" [routerLinkActiveOptions]="{ exact: true }">
      <div class="logo">
        <div class="logo__title">
          R
          <div class="logo__title--animate">afał&nbsp;</div>
          C
          <div class="logo__title--animate">iok</div>
        </div>
      </div>
    </a>

    <div class="navigation">
      <div class="navigation__elements">
        <a class="navigation__element" routerLink="blog" routerLinkActive="navigation__element--active">Blog</a>
        <a class="navigation__element" routerLink="about" routerLinkActive="navigation__element--active">About</a>
        <a class="navigation__element" routerLink="contact" routerLinkActive="navigation__element--active">Contact</a>
      </div>
      <div class="mobile-nav">
        <input class="toggle-menu" id="toggle-menu" type="checkbox" />
        <label class="navigation__button" for="toggle-menu"></label>

        <div class="navigation__container">
          <div class="navigation__list">
            <a routerLink="blog" routerLinkActive="active">Blog</a>
            <a routerLink="about" routerLinkActive="active">About</a>
            <a routerLink="contact" routerLinkActive="active">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
