.field {
  margin: 2rem 0;
  position: relative;
}

input,
textarea {
  background: none;
  border: none;
  appearance: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  padding: 1rem 0;
  & ~ label {
    position: absolute;
    left: 0;
    top: 10px;
    transition: all 0.2s ease;
  }
  &:focus {
    & ~ label {
      top: 0;
      font-size: 0.8rem;
    }
  }
}

button,
a {
  background: none;
  border: none;
  appearance: none;
  outline: none;
  padding: 1rem 2rem;
  position: relative;
  cursor: pointer;
  color: white;
  &::before {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    height: 50px;
    width: 50px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 2rem;
    transition: all 0.3s ease;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
