$main-bg: white;
$blog-bg: rgba(80, 80, 80, 0.5);
$section-color: black;

.lead {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 2rem;
  line-height: 3rem;
}

.picture {
  display: flex;
  justify-content: center;
  width: 40%;
  margin-right: -5rem;
  &__image {
    width: 200%;
    //overflow: hidden;
    //border-radius: 50%;
    //background: linear-gradient(41deg, rgba(240, 154, 255, 0.4) 0%, rgba(255, 255, 255, 1) 100%);
  }
}
